{% set showModul = (block.modulAusblenden)? false : true %}
{% if showModul %}
  <section class="wrapper-outer standorte">
    <section class="wl-wrapper">
        <div class="modul-standorte">

        </div>
    </section>
  </section>
{% endif %}
