{% set showModul = (block.modulAusblenden)? false : true %}
{% if showModul %}
    <div class="modul-logoleiste">

        <div class="wl-wrapper">
            <div class="modul-logoleiste-slider-container">

                    <ul id="iconSlider">
                        {% set logoSlider = block.logos.one()|default(false) %}
                        {% if logoSlider %}
                            {% for logo in block.logos.all() %}
                                {% set imgSrc = logo.getUrl({
                                    mode: 'fit',
                                    format: ('png'),
                                    width: '100',
                                    height: '100',
                                    quality: (imgQuality),
                                })  %}
                                <li><img src="{{ imgSrc }}" /></li>
                            {% endfor %}
                        {% endif %}
                    </ul>

            </div>
        </div>

    </div>
{% endif %}

