{% set showModul = (block.modulAusblenden)? false : true %}
{% if showModul %}

    <section class="wrapper-outer kontakt">
        <section class="wl-wrapper">

            <div class="modul-kontakt">

                <div class="kontakt-list-links">
                    <div class="wrapper-container"></div>
                    <div class="list-links-body">
                        <h2>{{ block.headlineLinks }}</h2>
                        <div class="adresse">
                            {{ block.textLinks }}
                        </div>
                        <div class="schmuckelement">
                            <img src="/assets/images/icons/schmuckelement-icn-logomuster.svg" alt="Muster Logos"/>
                        </div>
                    </div>
                </div>

                <div class="kontakt-list-rechts">
                    <div class="list-rechts-body">
                        {% set formularId = block.formularAuswahl.id %}
                        {% set formularAntwortUrl = block.antwortSeite.one().getUrl() %}
                        {% set formTempl = '_include-form-template/formular_id1-id2' %}
                        {% include formTempl with {formularId: formularId, formularAntwortUrl: formularAntwortUrl} %}
                    </div>
                    <div class="wrapper-container"></div>
                </div>

            </div>

        </section>
    </section>

{% endif %}
