{# *------------* START Konfiguration *------------ *#}
{# ************************************************* #}
{% set categorySectionname = 'karriere' %}
{# *-----------------------------------------*#}
{% set imgQuality = 85 %}
{# *-----------------------------------------*#}
{% if block.sortierung == 'desc' %}
    {% set sort = 'postDate desc' %}
{% elseif block.sortierung == 'asc' %}
    {% set sort = 'postDate asc' %}
{% else %}
    {% set sort = 'lft' %}
{% endif %}
{# ************************************************ #}
{% set categoriesEntries = craft.entries()
    .section(categorySectionname)
    .orderBy(sort)%}
{# ************************************************ #}
{# *------------* ENDE Konfiguration *------------ *#}
<section class="wrapper-outer">
    <section class="wl-wrapper">

        <div class="modul-teaser-jobs">
            <div class="teaser-jobs">

                {% set entries = categoriesEntries %}
                {% set counter = '1' %}
                {% if entries|length > 0 %}
                    {% for entry in entries.all() %}

                        {% if entry.pdf.url is not empty %}
                            <a href="{{ entry.pdf.url }}" class="teaser-jobs-link" target="_blank">
                        {% else %}
                            <div class="teaser-jobs-link">
                        {% endif %}


                            <article class="wl-article article-job-js">
                                <div class="article-text">
                                    <div class="article-title article-title-js">
                                        <h2>{{ entry.karriereTeaserHeadline }}</h2>
                                    </div>
                                    <div class="article-body article-body-js">
                                        {{entry.karriereTeaserText}}
                                    </div>

                                </div>
                            </article>

                        {% if entry.pdf.url is not empty %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                        {% set counter = counter + 1%}
                    {% endfor %}
                {% else %}
                     {% if lg == 'en' %}
                         There are no job offers available!
                     {% else %}
                         Es ist keine Jobangebote vorhanden!
                     {% endif %}
                {% endif %}

            </div>
        </div>

    </section>
</section>


















