<section>
  {% set settings = {
    '0-1400' : {
      'size' : 'x1400',
      'mode' : 'crop'
    },
    '1-1000' : {
      'size' : 'x1000',
      'mode' : 'crop'
    },
    '2-800': {
      'size' : 'x800',
      'mode' : 'crop'
    },
    '3-600': {
      'size' : 'x600',
      'mode' : 'crop'
    },
    '4-400': {
      'size' : 'x400',
      'mode' : 'crop'
    }   ,
    '5-50': {
      'size' : 'x400',
      'mode' : 'crop'
    }
  } %}
  <div id="imageGallery">
    {% if block.imageItem is not empty %}
      {% for item in block.imageItem.all() %}

        {% if item.previewImage.one()|length > 0 %}
          {% set previewImage =  item.previewImage.one() %}
        {% else %}
          {% set previewImage =  item.galleryImage.one() %}
        {% endif %}

        {% set dataTitle =  item.infoTextImage %}

          {% include '_include-atoms/image-gallery.twig' with {sourceMediaSettings: settings, galleryImage: item.galleryImage.one(), previewImage: previewImage, previewImageSize: '200x200', previewImageMode: 'crop', dataTitle: dataTitle } %}
      {% endfor %}
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#imageGallery a').imageGallery();
    });
  </script>
</section>
