<section class="wrapper-outer startseite-header-container">
    <section class="wl-wrapper">

        <div class="header-body">
                <div class="sp1">
                    <div class="headline"><h1>PRÜFEN<br /> ÜBERWACHEN.<br />ZERTIFIZIEREN.</h1></div>
                    <div class="sp1-text">
                        <div class="links">
                            Die PÜZ BAU GmbH ist eine der führenden Stellen für die umfassende Prüfung, Überwachung und Zertifizierung von Bauprodukten und Bauverfahren.
                        </div>
                        <div class="rechts">
                            Als notifizierte Stelle sind wir nicht nur in Deutschland, sondern über Europas Grenzen hinaus unterwegs.
                        </div>
                    </div>
                </div>

                <div class="sp2">
                    <div class="sp2-content">
                        <div class="icon"><img class="dakks" src="/assets/images/akkreditierungsstelle_firstview.png" alt="Schmuckelement"></div>
                        <div class="description">Din en iso /<br />iec 17065:2013</div>
                    </div>
                </div>
        </div>

        <div class="header-body-end">

            <div class="sp1">

            </div>

            <div class="sp2">
                <div class="schmuckelement">
                    <img src="/assets/images/pfeilmuster_gross.svg" alt="Schmuckelement" />
                </div>
            </div>

        </div>

    </section>
</section>
