<section class="wl-wrapper">
    <div class="intro abstand-top-outer">

        <div class="intro-spl-links">
            {% set checkImage = siteconfig.imagesingle.one()|default(false) %}
            {% if checkImage %}
                {% set image = siteconfig.imagesingle.one() %}
                {% include '_include-atoms/imgRoundWithBorder' with {image: image, sizeLarge: '400', sizeMedium: '400', sizeSmall: '300', changePointLarge: '1920', changePointMedium: '1200', changePointSmall: '320' } %}
            {% endif %}
        </div>

        <div class="intro-spl-rechts">

            <div class="text-element">

                <div class="intro-text text">
                    <h1>{{ siteconfig.introHeadline }}</h1>
                    <div class="intro-text-body text">
                        {{ siteconfig.introTextSpalteLinks }}
                    </div>
                </div>

            </div>

            <div class="schmuck-element">
                <img src="/assets/images/schmuckelement-pfeile.svg" alt="Schmuckelement">
            </div>

        </div>

    </div>
</section>

