<section class="wrapper-outer startseite-header-container">
    <section class="wl-wrapper">

        <div class="header-body">
                <div class="sp1">

                    {% set headline = entry.introHeadline %}
                    {% set entryHeadline = entry.introHeadline|default(false) %}
                    {% if entryHeadline %}
                        <div class="headline"><h1>{{ headline|nl2br }}</h1></div>
                    {% endif %}

                    <div class="sp1-text">
                        <div class="links">
                            {{ entry.introTextSpalteLinks }}
                        </div>
                        <div class="rechts">
                            {{ entry.introTextSpalteRechts }}
                        </div>
                    </div>
                </div>

                <div class="sp2">
                    <div class="sp2-content">
                        <div class="icon"><img class="dakks" src="/assets/images/akkreditierungsstelle_firstview.png" alt="Schmuckelement"></div>
                        {% set beschreibungZertifikat = entry.introBeschreibungZertifikat %}
                        {% set entryBeschreibungZertifikat = entry.introBeschreibungZertifikat|default(false) %}
                        {% if entryBeschreibungZertifikat %}
                            <div class="description">{{ beschreibungZertifikat|nl2br }}</div>
                        {% endif %}
                    </div>
                </div>
        </div>

        <div class="header-body-end">

            <div class="sp1">

            </div>

            <div class="sp2">
                <div class="schmuckelement">
                    <img src="/assets/images/pfeilmuster_gross.svg" alt="Schmuckelement" />
                </div>
            </div>

        </div>

    </section>
</section>
