{# -------------- Macro -------------- #}
{% import "_macros/linkList.twig" as _self %}
<div class="navigation">

    <div class="humburger" id="hambuger_menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div id="myNav">
        <div id="myNav-inner">

            {% set pages = craft.entries().section('contentPage').level('<= ' ~ siteconfig.navigationLevel).excludeNavigation(0).all() %}

            {% set firstLevelID = "" %}
            {% set firstLevelActiveID = "" %}
            {% nav page in pages %}
                {% if page.level == 1 %}
                   {% set firstLevelID = page.id  %}
                {% endif %}
                {% if page.id  == pageId %}
                    {% set firstLevelActiveID = firstLevelID  %}
                {% endif %}
            {% endnav %}

            {% set showHrefFirstLevel = true %}
            {% if siteconfig.navigationLevel == '1' %}
                {% set showHrefFirstLevel = true %}
            {% else %}
                {% set showHrefFirstLevel = false %}
            {% endif %}

            <nav class="wl-navigation wl-navi-overlay-content" style="display: inline-block">
                <ul id="nav" class="{% if pageId == 2%}startseite{% else %}contentseite{% endif %} responsive-menu" data-menu-style="accordion">
                    {% nav page in pages %}
                        {% set outputUrl = page.getUrl() %}
                        {% set outputTitle = page.title %}
                        {% set setActiveClass = "" %}
                        {% set setActiveClassMain = "" %}
                        {% set parentEntry = page.getParent(entry) %}

                        {% set pageUrlSegs = (page.url|split('//'))[1]|split('/') %}
                        {% if craft.app.request.segments|last == pageUrlSegs|last %}
                            {% set setActiveClass = " active" %}
                        {% endif %}

                        {% if page.id == firstLevelActiveID %}
                            {% set setActiveClass = " active" %}
                            {% set setActiveClassMain = ' active-level1' %}
                        {% endif %}

                        {% if page.level == 1 and page.children.excludeNavigation(0)|length and showHrefFirstLevel == false %}
                            {% set output = '<a data-level="' ~ page.level ~ '" class="level-' ~ page.level ~' navi' ~ setActiveClass ~'"><span>' ~ outputTitle ~ '</span></a>' %}
                        {% elseif page.level == 1 and page.children.excludeNavigation(0)|length and showHrefFirstLevel == true %}
                            {% set output = '<a data-level="' ~ page.level ~ '" class="level-' ~ page.level ~' navi' ~ setActiveClass ~'" href="' ~ outputUrl ~ '"><span>' ~ outputTitle ~ '</span></a>' %}
                        {% else %}
                            {% set output = '<a data-level="' ~ page.level ~ '" class="level-' ~ page.level ~' navi' ~ setActiveClass ~'" href="' ~ outputUrl ~ '"><span>' ~ outputTitle ~ '</span></a>' %}
                        {% endif %}

                        {% set redirect = page.redirect %}
                        {% if redirect is defined and redirect is not null %}
                            {% set redirectLink = redirect.getLink()  %}
                            {% if redirectLink != '' %}
                                {% set output = _self.linkListOnlyAtag( redirect, 'navi level-' ~ page.level ) | trim | raw ~ '<span data-test>' ~ outputTitle ~ '</span></a>' %}
                            {% endif %}
                        {% endif %}

                        <li class="level-{{ page.level }} {{ setActiveClassMain }} {{ setActiveClass }}">{{ output|raw}}{% ifchildren %}

                                <ul class="child">{% children %}
                                </ul>{% endifchildren %}</li>
                    {% endnav %}</ul>

            </nav>

        </div>
    </div>
</div>