footer {

  /**
  Start nur Demo
   */
  background-color: #e7e4de;
  margin-top:50px;
  /**
 Ende nur Demo
   */

  padding-top: 50px;
  padding-bottom: 50px;

  ul {
    &.footer-liste-kontakt,&.footer-liste-dsgvo{
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        display: block;
        list-style-type: none;
        position: relative;
        padding: 0px;
        margin-left: 15px;

        &::before {
          //content: "•";
          //content: "❖";
          //content: "✶";
          //content: "▶";
          content: "✿";
          font-size: 0.7em;
          background-image: none;
          position: absolute;
          top: 3px;
          left:-15px;
          width: auto;
          height: auto;
        }

        a {
          color: $wl-color-black;
        }
      }
    }
  }


  ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{

      margin-bottom: 7px;

      a{
        display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        text-decoration: none;

        color: $wl-color-black;
        outline-offset: 2px;

        &:hover{
          text-decoration: underline;
          img{
              background-color: #b7e591;
          }
        }

        img{
          margin-right: 8px;
        }

      }
    }

    img {
      padding: 5px;
      border-radius: 5px;
      background-color: lightblue;
      width: 36px;
      height: 36px;
    }
  }





}
