.modul-kontakt{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    @include wl-breakpoint(650) {
      flex-direction: column;
    }

  .list-links-body{
    padding-right: 80px;
    @include wl-breakpoint($page-width) {
      padding-right: 4vw;
    }
    @include wl-breakpoint(650) {
      padding-right: 0;
    }
  }

  .list-rechts-body{
    padding-top: 50px;
  }

  .list-links-body, .list-rechts-body{

    width: 67%;
    @include wl-breakpoint(900) {
      width: 87%;
    }

    @include wl-breakpoint(650) {
      width: 100%;
    }

  }


  .list-links, .list-rechts{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    @include wl-breakpoint(650) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
    }

  }



  .list-links{

    .schmuckelement{
      width: 100%;

      margin-top: 40px;
      @include wl-breakpoint($page-width) {
        margin-top: calc(25px + 1vw);
      }

      img{
        width: 50%;
        @include wl-breakpoint(650) {
          width: 30%;
        }
        @include wl-breakpoint(450) {
          width: 120px;
        }
      }
    }

  }


  .wrapper-container{

    width: 33%;
    @include wl-breakpoint(900) {
      width: 13%;
    }
    @include wl-breakpoint(650) {
      display: none;
    }
    @include wl-breakpoint(650) {
      display: none;
    }

  }


}