.navigation {

      .humburger {
        width: 33px;
        height: 28px;
        position: relative;
        right: 0;
        margin-top: 50px;
        cursor: pointer;
        transition: 0.5s all ease-in;
        z-index: 5555;


        &::after {
          content: "";

          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          background: $wl-color-red;
          transform: scale(0);
          transition: 0.5s all ease-in;
          z-index: 1;
        }


        &:hover:after {
          transform: scale(1.4);
        }

        &:hover{
          .line{
            &:after {
              width: 100%;
            }
          }
        }


        .line {
          height: 4px;
          width: 100%;
          background: $wl-color-black;
          display: flex;
          transition: 0.5s all ease-in;
          position: relative;
          z-index: 2;

          &:after {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            background: white;
            width: 0;
            transition: 0.5s all ease-in-out;
            z-index: 1;
          }

        }

        &.open  {
          position: fixed;
          right: 20px;
          top: 20px;

          .line {
            background: white;
          }

          .line:nth-of-type(1) {
            transform: rotate(45deg);
            margin-top: 12px;
          }

          .line:nth-of-type(2) {
            transform: rotate(-45deg);
            margin-top: -13px;
          }

          .line:nth-of-type(3) {
            visibility: hidden;
            opacity: 0;
          }

        }


      }


}


