// Import SCSS-Files

/**
*  A C H T U N G !  Block-Reihenfolge nicht ändern!
*/

/***** (1) **********************************
Fonts
*/
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Overpass:wght@300&display=swap');

// Fonts Adobe & vom eigenen Webspace
/* =================================================== */
@import url("https://use.typekit.net/gql7kly.css");
$font-family-altivo:'altivo', Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
/* =================================================== */
$font-name-orbitronBold: "orbitronBold";
  $font-family-orbitronBold: $font-name-orbitronBold, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", Arial, sans-serif;
@include font-face($font-name-orbitronBold, 'orbitron/orbitronBold', '' , '');
/* =================================================== */

$form-font-family: $font-family-altivo;
$h1-font-family: $font-family-orbitronBold;
$h2-font-family: $font-family-orbitronBold;
$h3-font-family: $font-family-orbitronBold;
$h4-font-family: $font-family-orbitronBold;
$h5-font-family: $font-family-orbitronBold;


/***** (2) **********************************
Farben der Website
*/
$wl-color-black: #042745;
$wl-color-blue: #61BFDB;
$wl-color-blue-soft: #e1f3f9;
$wl-color-darkblue: #205989;
$wl-color-white: #fff;

//Farben divers
$wl-color-grey: #bbb;
$wl-color-red: red;

$wl-bgcolor-html: $wl-color-white;
$wl-bgcolor-body: $wl-color-white;
$wl-color-accordion-label: #718393;
$wl-color-accordion-label-hover: #768834;


/***** (3) **********************************
Einstellungen
*/

// Wrapper-Breite der Website
//$page-width: 2400;
$page-width: 1920;
$wrapper: 1586px; // $page-width  (167px links/167px rechts)
$wrapperheader: 1920px;
/* =================================================== */
$telefonnummer-breakpoint: 5000;
/* =================================================== */
// Geschwindigkeit der Transitions | Für alle Animationen
$transition: all 0.15s ease-in-out;
/* =================================================== */

// Config allgemein
$breakpoint-navigation: 1300; /* Achtung Breakpoint auch in responsive-menu.js anpassen */
$base-background-color: $wl-bgcolor-html;
/* =================================================== */
// Config Formular
$wl-form-font-family: $font-family-altivo;
$wl-form-color-border: $wl-color-grey;
$wl-form-color-fields: $wl-color-white;
$wl-form-color-text: $wl-color-black;
$wl-form-color-error: $wl-color-darkblue;
/* =================================================== */
// Default Font Attribute
// Default Font scale bounding for responsive Font in mixin responsive-font
/* =================================================== */
$base-font-family: $font-family-altivo;
$base-font-size-min: 18px;
$base-font-size-max: 23px;
$base-font-breakpoint-min: 400px;
$base-font-breakpoint-max: 1500px;
$base-hl-font-breakpoint-min: 400px;
$base-hl-font-breakpoint-max: 1500px;
/* =================================================== */
$navigation-font-family: $font-family-orbitronBold;
/* =================================================== */
$base-line-height: 1.55;
$base-line-height-h1: 1.6;
$base-line-height-h2: 1.4;
$base-line-height-h3: 1.3;
$base-line-height-h4: 1.3;
$base-font-color: $wl-color-black;
/* =================================================== */
$font-weight-normal:300;
$font-weight-strong:500;



