{# *------------* START Konfiguration *------------ *#}
{# ************************************************* #}
{% set categorySectionname = 'karriere' %}
{# *-----------------------------------------*#}
{% set imgQuality = 85 %}
{# *-----------------------------------------*#}
{% if block.sortierung == 'desc' %}
     {% set sort = 'postDate desc' %}
{% elseif block.sortierung == 'asc' %}
     {% set sort = 'postDate asc' %}
{% else %}
     {% set sort = 'lft' %}
{% endif %}
{# ************************************************ #}
{# *------------* ENDE Konfiguration *------------ *#}



{# *------------* Ausgabe *------------ *#}
{# ************************************************* #}

   {% set categoriesEntries = craft.entries()
   .section(categorySectionname)
   .orderBy(sort)%}

{# * ******************************************************************************************************* *#}

     {% set entries = categoriesEntries %}
     {% set counter = '1' %}
     {% if entries|length > 0 %}
          {% for entry in entries.all() %}

               <div class="wl-article">
                    <article>
                         <div class="article-text">
                              <div class="article-title article-title-js">
                                   <h4>{{ entry.karriereTeaserHeadline }}</h4>
                              </div>
                              <div class="article-body article-body-js">
                                   {{entry.karriereTeaserText}}
                              </div>
                         </div>
                    </article>
               </div>

               {% set counter = counter + 1%}
          {% endfor %}
     {% else %}
          Es ist keine Ergebnise zu diesem Thema vorhanden!
     {% endif %}





